<h2>See the details</h2>

    <p>{{this.title}}</p>
    <p>{{this.genre}}</p>
    <p>{{this.plot}}</p>

{{#each }}
    <p>{{this.name}}</p>
    <p>{{this.occupation}}</p>
    <p>{{this.catchPhrase}}</p>